body {
    background-color: #0F0F0F;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #FF6F00;
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: "Bai Jamjuree", sans-serif;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #FF8500;
}

.passo {
    display: none;
    text-align: center;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
}